# {{ ansible_managed }}

# Hostname
myhostname = {{ ansible_fqdn }}
smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
# SMTP relay host
relayhost = [{{ smtp_server_address }}]:{{ smtp_server_port }}
# Enable SASL authentication
smtp_sasl_auth_enable = yes
# Disallow methods that allow anonymous authentication.
smtp_sasl_security_options = noanonymous
# sasl_passwd path
smtp_sasl_password_maps = hash:{{ postfix_sasl_passwd_file }}
# Enable STARTTLS encryption
smtp_use_tls = yes
# CA certificates path
smtp_tls_CAfile = {{ ca_bundle_cert_path }}
# Header checks
{% if postifx_header_checks_database_type and postfix_header_checks %}
smtp_header_checks = {{ postifx_header_checks_database_type }}:{{ postfix_header_checks_file }}
{% endif %}
